* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.content {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.twitter,.youtube,.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    font-size: 30px;
}

.fa-twitter{
    color: #1D9BF0;
    font-size: 60px;
}
.fa-youtube{
    color: #FE0000;
    font-size: 60px;
}
.fa-instagram{
    color: #F34D57;
    font-size: 60px;
}

.twitterfollowers,.youtubefollowers,.instagramfollowers {
    color: gray;
}

.twitterno,.youtubeno,.instagramno{
color: rgb(97, 96, 96);
}